body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f8fa;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #4CAF50, #2E8B57);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    margin: 0;
    font-size: 42px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.judul-section {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* GRID INFOGRAFIS */
.infografis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card img {
    width: 100px;
    margin-bottom: 15px;
}

.card h3 {
    margin-top: 0;
    color: #2E8B57;
}

.card p {
    color: #555;
}

/* FOOTER */
footer {
    text-align: center;
    margin: 50px 0 20px;
    color: #777;
    }
