body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
}

/* NAV */
.navbar {
    background: #3e64ff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    left: -230px;
    top: 0;
    background: #2c3e50;
    padding-top: 60px;
    transition: 0.3s;
}
.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background: #34495e;
}

.hamburger {
    font-size: 26px;
    cursor: pointer;
}

/* PAGES */
.page {
    display: none;
    padding: 20px;
}
.page.active {
    display: block;
}

/* INPUT */
input, select {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background: #3e64ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #2b4bd8;
}

/* RESULTS BOX */
.result {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px #ddd;
}

.msg {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    }
